<div class='row g-0'>
  {{#each cards}}
    <div class='col-sm-3 mb-2 me-0'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>
            {{title}}
            {{#if isNew}}<span
                class='badge text-bg-success'
              >Нова</span>{{/if}}
            {{#if isTop}}<span
                class='badge text-bg-danger'
              >Топ</span>{{/if}}
          </h5>
          <p class='card-text'>{{description}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>