{{#with navigation}}
  <nav class="navbar navbar-expand-sm bg-body-tertiary m-0">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-2">
        {{#each links}}
          <a
            class='btn btn-link'
            href='{{href}}'
            role='button'
          >{{text}} </a>
        {{/each}}
          <a class="nav-link disabled">Disabled</a>
        </div>
      </div>
    </div>
  </div>
</nav>
{{/with}}